matplotlib==3.7.4
numpy==1.24.3
opencv-python==4.9.0.80
pandas==2.0.3
pillow==10.2.0
seaborn==0.13.2
tensorboard==2.13.0
tensorboard-data-server==0.7.2
tensorflow==2.13.1
tensorflow-addons==0.21.0
tensorflow-estimator==2.13.0
tensorflow-io-gcs-filesystem==0.34.0
torch==2.2.0
torchvision==0.17.0
tqdm==4.66.2