* {
  margin: 0;
  padding: 0;
}

input {
  outline: none;
  line-height: var(--text-line-height);
}

h1 {
  line-height: var(--text-line-height);
}

th, td {
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

:root {
  --max-width: 1300px;

  --light-font-size: 15px;
  --normal-font-size: 18px;

  --light-blue: #526cfe;
  --normal-blue: #4051b5;
  --white: white;

  --title-color: rgba(0, 0, 0, 0.5);
  --normal-color: rgba(0, 0, 0, 0.7);

  --text-line-height: 1.3;
}